:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* Mapbox popup customization */
.mapboxgl-popup {
  z-index: 3;
  position: absolute;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 8px !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.mapboxgl-popup-tip {
  border-top-color: #fff !important;
}

/* Hide Mapbox controls */
.mapboxgl-control-container {
  display: none !important;
} 